body{
    background-color: rgb(157, 174, 207);
    margin: 15px;
}
h1{
    font-family: "黑体";
    font-size: x-large;
    font-weight: bolder;
    background-color: coral;
    color: crimson;
    text-align: center;

    padding: 10px;
    border: 2px solid cornsilk;
}
.head-style{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: burlywood;
    color: maroon;
     text-align: center;
     
     padding: 5px;
     border: 1px whitesmoke dashed;
}

button{
    padding: 5px;
    border: 2px solid rgb(95, 88, 163);
    font-size: 16px;

}
p{
    text-align: center;
    color: rgb(255, 0, 191);
    font-weight: bolder;
}